[submodule "themes/Terminal/atom-one-dark-terminal"]
	path = themes/Terminal/atom-one-dark-terminal
	url = https://github.com/nathanbuchar/atom-one-dark-terminal
[submodule "themes/iTerm/iterm2-snazzy"]
	path = themes/iTerm/iterm2-snazzy
	url = https://github.com/sindresorhus/iterm2-snazzy
[submodule "themes/Terminal/terminal-snazzy"]
	path = themes/Terminal/terminal-snazzy
	url = https://github.com/sindresorhus/terminal-snazzy
[submodule "themes/zsh-prompts/pure"]
	path = themes/zsh-prompts/pure
	url = https://github.com/sindresorhus/pure
[submodule "shell/zsh/zsh-plugins/zsh-autosuggestions"]
	path = shell/zsh/zsh-plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/zsh/zsh-plugins/zsh-syntax-highlighting"]
	path = shell/zsh/zsh-plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
