"*":
  "atom-beautify":
    general:
      _analyticsUserId: "9d79d86b-0173-4c3c-a1aa-db3fc0d868ac"
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "linter"
    ]
    projectHome: "/Users/Anvil/Projects"
    telemetryConsent: "no"
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "582938fb-a7d6-4690-93da-6e2f17aca978"
  github:
    gitDiagnostics: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    autoToggle: false
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "split-diff": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
