"*":
  "atom-beautify":
    general:
      _analyticsUserId: "9d79d86b-0173-4c3c-a1aa-db3fc0d868ac"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "autocomplete-ruby"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "582938fb-a7d6-4690-93da-6e2f17aca978"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-ui-default": {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "split-diff": {}
  welcome:
    showOnStartup: false
