packages: [
  "atom-beautify"
  "autocomplete-plus"
  "autocomplete-ruby"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "intentions"
  "linter"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "sort-lines"
  "sorter"
  "split-diff"
  "wakatime"
]
