packages: [
  "atom-beautify"
  "atom-ide-ui"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "intentions"
  "linter"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "react"
  "react-snippets"
  "scroll-through-time"
  "sort-lines"
  "sorter"
  "split-diff"
  "wakatime"
]
